body{
    background-color: rgb(39, 56, 116);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.grid-container{
    display: grid;
    background-color: rgb(0, 16, 69);
    border-radius: 2%;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 50px 40px 40px 200px;
    padding:20px 70px 20px 70px;
    box-shadow: 10px 10px rgb(0, 10, 42);
}

.heading{
    color:white;
    text-shadow: 0 0 3px #666666, 0 0 3px #666666;
    margin-bottom: 0px;
    text-align: center;
}

p{
    color: whitesmoke;
    text-align: center;
}

.inBox{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input{
    width: 300px;
    height: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button{
    background-color: rgb(41, 87, 255);
    width: 300px;
    border:none;
    padding:10px 10px;
    color:whitesmoke;
    border-radius:3%;
    transition: 250ms;
}
button:hover{
    background-color: rgb(25, 54, 157);
}


.image-row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-after{
    border:10px solid white;
}
